@import url(adminRoot.css);
body {
  position: relative;
}
.add-overlay,
.reset-overlay {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #00000090;
  position: fixed;
  top: 0;
  z-index: 2;
}
/* Add new */
.add-overlay > .add-new-retailer,
.reset-overlay > .reset-agent-password {
  display: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--fontColor3);
  padding: 50px 80px 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  border-radius: 10px;
}
.add-overlay .add-new-retailer img,
.reset-overlay .reset-agent-password img {
  height: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.add-overlay .add-new-retailer form,
.reset-overlay .reset-agent-password form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.add-overlay .add-new-retailer form .password-div,
.reset-overlay .reset-agent-password form .password-div2 {
  position: relative;
  margin-top: 20px;
}
.add-overlay .add-new-retailer form .password-div input,
.reset-overlay .reset-agent-password form .password-div2 input {
  margin-top: 0;
}

.add-overlay .add-new-retailer form .password-div .fa-solid.fa-eye,
.add-overlay .add-new-retailer form .password-div .fa-solid.fa-eye-slash,
.reset-overlay .reset-agent-password form .password-div2 .fa-solid.fa-eye,
.reset-overlay
  .reset-agent-password
  form
  .password-div2
  .fa-solid.fa-eye-slash {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.add-overlay .add-new-retailer form input,
.reset-overlay .reset-agent-password form input {
  width: 260px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #00000060;
  padding: 10px;
  font-size: var(--subHeading);
  margin-top: 20px;
}

.add-overlay .add-new-retailer form input[type="submit"],
.reset-overlay .reset-agent-password form input[type="submit"] {
  height: 40px;
  background-color: var(--btnColor2);
  width: var(--buttonWidth);
  color: var(--textHover);
  font-size: var(--subHeading);
  border: none;
  border-radius: 5px;
  margin: 20px auto 0;
}

/* Sucessful */
.successful-overlay,
.password-updated-overlay {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #00000090;
  position: fixed;
  top: 0;
  z-index: 2;
}

.successful-overlay > .successful,
.password-updated-overlay > .updated {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--fontColor3);
  padding: 50px 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  border-radius: 10px;
}

.successful-overlay .successful img,
.password-updated-overlay > .updated img {
  height: 50px;
}
.successful-overlay .successful h3,
.password-updated-overlay > .updated h3 {
  padding: 20px 0;
}

.successful-overlay .successful form input[type="submit"],
.password-updated-overlay > .updated form input[type="submit"] {
  height: 40px;
  background-color: var(--btnColor2);
  width: var(--buttonWidth);
  color: var(--textHover);
  font-size: var(--subHeading);
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}

@media screen and (max-width: 616px) {
  @import url(adminRoot.css);

  /* Add new */
  .add-overlay > .add-new-retailer,
  .reset-overlay > .reset-agent-password {
    padding: 40px 20px;
  }
  .add-overlay .add-new-retailer img,
  .reset-overlay > .reset-agent-password img {
    height: 20px;
  }

  .successful-overlay > .successful,
  .password-updated-overlay > .updated {
    padding: 40px 40px;
  }
}
